[submodule "vendors/pytorch_reservoir/torch_sampling"]
	path = vendors/pytorch_reservoir/torch_sampling
	url = https://github.com/LeviViana/torch_sampling
[submodule "vendors/AdvancedIndexing-PyTorch"]
	path = vendors/AdvancedIndexing-PyTorch
	url = https://github.com/vacancy/AdvancedIndexing-PyTorch
[submodule "vendors/SceneGraphParser"]
	path = vendors/SceneGraphParser
	url = https://github.com/vacancy/SceneGraphParser
