requirements.txt

:Author: Jiayuan Mao
:Email: maojiayuan@gmail.com
:Date: 2018-06-02 20:25

-r ../requirements.txt
http://download.pytorch.org/whl/cu80/torch-0.3.1-cp35-cp35m-linux_x86_64.whl 
torchvision

